<form method="POST" action="/new">
    <input type="text" name="name" placeholder="Enter your name..."/>
    <input type="text" name="messageText" placeholder="Enter your message..."/>
    <input type="submit" />
 </form>