<% layout('layout') %>
<div
  style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  "
>
  <h6 style="margin: 0">Messages</h6>
  <a href="/new" class="btn btn-secondary">Add</a>
</div>
<body>
  <div style="display: flex; flex-direction: column; gap: 8px">
    <% messages.map((message) => { %>
    <div class="card text-end" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title"><%= message.user %></h5>
        <p class="card-text"><%= message.text %></p>
        <a href="/messages/<%= message.id %>" class="btn btn-primary"
          >View Message</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</body>
